<!-- 
Log in page
-->
{% extends 'base.jinja' %}

{% block content %} 
    <h1>Login</h1>
    <p>Username</p>
    <input id="username" type="text"/>
    <p>Password</p>
    <input id="password" type="password"/>
    <button onclick="login()">Login</button>

    <!-- Include Crypto-JS for hashing password client-side -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>

    <script>
        function isValidURL(string) {
            if (string.length == 0) {
                return false;
            }
            if (string[0] == "/") {
                return true;
            }
            return false;
        }

        async function login() {
            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;

            // Hash the password using Crypto-JS SHA256
            const hashedPassword = CryptoJS.SHA256(password).toString();

            let loginURL = "{{ url_for('login_user') }}";
            let res = await axios.post(loginURL, {
                username: username,
                password: hashedPassword // Send the hashed password instead of the plaintext
            });

            if (!isValidURL(res.data)) {
                alert(res.data);
                return;
            }
            window.open(res.data, "_self");
        }
    </script>

    <script>
        setTimeout(function() {
            alert('Session timed out. You will be redirected to the homepage.');
            window.location.href = '{{ url_for("index") }}'; // Redirect to the index page
        }, 180000); // 180000 milliseconds = 3 minutes
    </script>
{% endblock %}
